// -----------------------------------------------------------------------------
// This file contains all styles related to the common layout of the site
// e.g. common containers/wrappers
// -----------------------------------------------------------------------------

main {
  padding: 44px 0 0;
}

.container {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
  width: 100%;
}

/* stylelint-disable */
#wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.wrapper-inner {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  -ms-grid-template-columns: minmax(0, 1fr);
  -ms-grid-columns: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);

  #header {
    -ms-grid-row: 1;
    grid-row: 1;
  }

  #main {
    -ms-grid-row: 2;
    grid-row: 2;
  }

  #footer {
    -ms-grid-row: 3;
    grid-row: 3;
  }
}
