.feature-section {
  padding: 34px 0;

  @include media('screen', '>=laptop') {
    padding: 80px 0;
  }

  .container {

    @include media('screen', '>=tablet') {
      max-width: 100%;
    }
  }

  .two-cols {

    @include media('screen', '>=tablet') {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 -20px;
    }

    @include media('screen', '>=desktop') {
      margin: 0 -35px;
    }
  }
  
  .img-col {
    margin: 0 -15px 30px;
    
    @include media('screen', '>=phone-sm') {
      margin: 0 -20px 30px;
    }

    @include media('screen', '>=tablet') {
      margin: 0;
    }

    @include media('screen', '>=laptop-lg') {
      width: 49.5%;
    }
  }

  .txt-col {
    
    @include media('screen', '>=tablet') {
      padding: 20px;
    }

    @include media('screen', '>=desktop') {
      padding: 35px;
    }

    @include media('screen', '>=laptop-lg') {
      width: 50.5%;
      padding: 35px 123px;
      max-width: 700px;
    }

    h2 {

      @include media('screen', '>=desktop') {
        margin-bottom: 30px;
      }
    }
  }
  
  .txt-col,
  .img-col {
    @include media('screen', '>=tablet') {
      width: 50%;
    }
  }
  
  .img {
    width: 100%;
    margin-bottom: 10px;

    @include media('screen', '>=laptop-lg') {
      margin-bottom: 22px;
    }
    
    .bg-wrap {
      @extend %background;
      position: relative;
      min-height: 252px;

      @include media('screen', '>=phone') {
        min-height: 342px;
      }
      @include media('screen', '>=laptop') {
        min-height: 530px;
      }

      @include media('screen', '>=laptop-lg') {
        min-height: 634px;
      }
    }
  }
  
  .img-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    @include media('screen', '>=laptop-lg') {
      margin: 0 -14px;
    }

    .bg-wrap {
      min-height: 122px;

      @include media('screen', '>=phone') {
        min-height: 172px;
      }

      @include media('screen', '>=laptop') {
        min-height: 200px;
      }

      @include media('screen', '>=laptop-lg') {
        min-height: 308px;
      }
    }

    .img {
      width: 50%;
      padding: 0 5px;

      @include media('screen', '>=laptop-lg') {
        padding: 0 14px;
      }
    }
  }
}
