// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site
// -----------------------------------------------------------------------------

.header,
.footer {
  background: $white;
  padding: 7px 0;
  text-align: center;
  z-index: 99;

  @include media('>=tablet') {
    text-align: left;
  }

  .holder {
    @include media('>=tablet') {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
    }

    @include media('>=desktop') {
      padding: 0 20px;
    }

    @include media('>=1200px') {
      padding: 0 35px;
    }

    @include media('>=1400px') {
      padding: 0 45px;
    }

    @include media('>=1600px') {
      padding: 0 54px 0 68px;
    }
  }

  .back-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .text {
      @include transition(opacity visibility);
      display: inline-block;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 700;
      padding-left: 10px;
      letter-spacing: 0.7px;
      color: #000;
      opacity: 0;
      visibility: hidden;
    }

    .icon-back-arrow {
      font-size: 18px;
      color: #000;
    }

    &:hover {
      .text {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .logo {
    img {
      width: 84px;
    }
  }
}

.social-holder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .text {
    display: inline-block;
    font-size: 10px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 14px;
    letter-spacing: 0.8px;
  }
}

.social-networks {
  @extend %listreset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 15px;

  @include media('>=desktop') {
    font-size: 20px;
  }

  a {
    color: #000;
  }

  .icon-mail {
    font-size: 12px;

    @include media('>=desktop') {
      font-size: 13px;
    }
  }

  .icon-twitter {
    font-size: 14px;

    @include media('>=desktop') {
      font-size: 16px;
    }
  }

  li {
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
