.intro-section {
  padding: 26px 0;
  
  @include media('screen', '>=tablet') {
    padding: 70px 0;
  }
  
  .txt-block {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.53;
    color: $orange;
    text-transform: uppercase;
    padding-right: 10px;
    margin-bottom: 46px;
    
    @include media('screen', '>=desktop') {
      max-width: 340px;
      margin-left: auto;
      padding-right: 0;
    }
    
    @include media('screen', '>=laptop') {
      line-height: 1.25;
      font-size: 32px;
      max-width: 420px;
      margin-right: 5px;
    }
  }
  
  .description {
    color: $white;
    margin-top: -124px;
    padding: 122px 10px 7px 15px;
    line-height: 1.375;
    position: relative;
    z-index: -1;
    
    @include media('screen', '>=tablet') {
      margin: -124px auto 0;
      max-width: 582px;
    }
    
    @include media('screen', '>=desktop') {
      margin: -144px 0 0 310px;
      max-width: 422px;
    }
    
    @include media('screen', '>=laptop') {
      margin: -174px 0 0 364px;
      max-width: 531px;
      padding: 171px 50px 15px;
    }

    @include media('screen', '>=laptop-lg') {
      margin-top: -184px;
    }
    
    @include media('screen', '>=widescreen') {
      margin: -234px 0 0 242px;
      max-width: 652px;
      padding: 196px 83px 35px;
    }

    &:before {
      @include transition(bottom);
      transition-duration: $anim-speed;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: linear-gradient(143deg, #c53012 0%, #e34003 100%, #000 100%);
      z-index: -1;
    }
  }
  
  .img-block {
    margin: 0 -55px 0 -30px;
    
    @include media('screen', '>=tablet') {
      margin: 0 auto;
      max-width: 728px;
    }
    
    @include media('screen', '>=desktop') {
      max-width: 880px;
      margin: -130px 0 0 -30px;
    }
    
    @include media('screen', '>=laptop') {
      max-width: 1070px;
    }

    @include media('screen', '>=laptop-lg') {
      margin: -130px 0 0 -130px;
      max-width: 1170px;
    }
    
    @include media('screen', '>=widescreen') {
      max-width: 1485px;
      margin: -182px 0 0 -390px;
    }
  }
}
