.slide-section {
  padding: 8px 0 12px;
  
  @include media('screen', '>=desktop') {
    padding: 60px 0 148px;
  }
  
  .container {
    @include media('screen', '>=desktop') {
      max-width: 100%;
    }
  }
  
  .slide-row {
    @include media('screen', '>=desktop') {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  .photo-slider,
  .slick-list,
  .slick-track,
  .slick-slide,
  .img-holder {
    
    @include media('screen', '>=desktop') {
      height: 100%;
    }
  }
  
  .slide-col,
  .txt-col {
    @include media('screen', '>=desktop') {
      width: 50%;
    }
  }
  
  .slide-col {
    margin-bottom: 40px;
    
    @include media('screen', '>=desktop') {
      margin-bottom: 0;
    }
    
    @include media('screen', '>=laptop-lg') {
      width: 49.3%;
    }
  }
  
  .txt-col {
    
    @include media('screen', '>=desktop') {
      padding: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    
    @include media('screen', '>=laptop-lg') {
      width: 37.6%;
      margin-right: auto;
      padding: 40px 74px;
    }

    .txt-wrap {
      max-width: 468px;
    }

    h2 {

      @include media('screen', '>=laptop') {
        margin-bottom: 34px;
      }
    }
  }
  
  .photo-slider {
    position: relative;
    padding-bottom: 60px;
    margin: 0 -15px;
    
    @include media('screen', '>=phone-sm') {
      margin: 0 -20px;
    }
    
    @include media('screen', '>=desktop') {
      margin: 0 0 0 -35px;
      padding-bottom: 0;
    }

    .slick-track {
      transition-timing-function: cubic-bezier(0.21, 0.56, 0, 1.1) !important;
    }

    .slick-list {
      margin: 0 -5px;
    }

    .slick-slide {
      padding: 0 5px;
    }
    
    .img-holder {
      @extend %background;
      min-height: 248px;
      
      @include media('screen', '>=phone') {
        min-height: 348px;
      }
      
      @include media('screen', '>=tablet') {
        min-height: 508px;
      }
      
      @include media('screen', '>=desktop') {
        min-height: 0;
      }
      
      @include media('screen', '>=laptop-lg') {
        min-height: 633px;
      }
    }
    
    .slick-arrow {
      @include size(42px, 45px);
      display: block;
      position: absolute;
      bottom: 0;
      background: $orange;
      z-index: 1;
      font-size: 24px;
      color: $white;
      
      @include media('screen', '>=desktop') {
        bottom: -60px;
      }
      
      &:before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      
      &:hover {
        background: darken($orange, 15%);
      }
    }
    
    .slick-next {
      right: 70px;
      
      @include media('screen', '>=desktop') {
        right: 47px;
      }
    }
    
    .slick-prev {
      right: 22px;
      
      @include media('screen', '>=desktop') {
        right: 0;
      }
    }
  }
}
