.variant-section {
  @include media('screen', '>=tablet') {
    position: relative;
    min-height: 550px;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:after {
      content: '';
      min-height: inherit;
      font-size: 0;
    }
  }
  
  @include media('screen', '>=desktop') {
    min-height: 700px;
  }
  
  @include media('screen', '>=laptop-lg') {
    min-height: 850px;
  }
  
  .container {
    max-width: 1429px;
  }
  
  .bg {
    @extend %background;
    display: block;
    min-height: 253px;
    
    @include media('screen', '>=phone') {
      min-height: 344px;
    }
    
    @include media('screen', '>=tablet') {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 23.7%;
      z-index: -1;
    }
  }
  
  .txt-block {
    color: $white;
    margin: 0 -15px;
    padding: 42px 20px 24px;
    position: relative;
    
    @include media('screen', '>=phone-sm') {
      margin: 0 -20px;
    }
    
    @include media('screen', '>=tablet') {
      max-width: 420px;
      margin: 0;
    }
    
    @include media('screen', '>=desktop') {
      max-width: 550px;
    }
    
    @include media('screen', '>=laptop-lg') {
      padding: 98px 73px 78px;
      max-width: 650px;
    }
    
    &:before {
      @include transition(right);
      transition-duration: $anim-speed;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: $orange;
      z-index: -1;

      @include media('screen', '>=tablet') {
        right: 100%;
      }
    }
  }
}
