.exterior-info-block {
  position: relative;
  overflow: hidden;
  margin: 0 0 34px;

  @include media('>=tablet') {
    padding: 93px 0;
  }

  @include media('>=1200px') {
    padding: 93px 0 0;
    margin: 0 0 22px;
  }

  .title-holder {
    padding: 0 10px;
    text-align: center;

    @include media('>=tablet') {
      padding: 0 10px 26px;
    }

    h2 {
      margin: 0 0 13px;

      @include media('>=tablet') {
        margin: 0 0 19px;
      }
    }

    br {
      @include media('>=tablet') {
        display: none;
      }
    }
  }

  .heading {
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 6px;

    @include media('>=tablet') {
      margin: 0 0 22px;
    }
  }

  .img {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: -11px -36px 0 -11px;

    @include media('>=tablet') {
      background-size: cover;
      margin: 0 -30px 0 10px;
    }

    @include media('>=desktop') {
      margin: 0 -50px 0 -10px;
    }

    @include media('>=1600px') {
      margin: 0 -80px 0 -30px;
    }

    @include media('>=1900px') {
      margin: -14px -85px 0 -30px;
    }

    @include media('>=2000px') {
      background-size: contain;
    }

    &:before {
      content: '';
      font-size: 0;
      line-height: 0;
      display: block;
      min-height: 250px;

      @include media('>=tablet') {
        min-height: 210px;
      }

      @include media('>=900px') {
        min-height: 240px;
      }

      @include media('>=desktop') {
        min-height: 270px;
      }

      @include media('>=1100px') {
        min-height: 300px;
      }

      @include media('>=1200px') {
        min-height: 330px;
      }

      @include media('>=1400px') {
        min-height: 380px;
      }

      @include media('>=1600px') {
        min-height: 480px;
      }

      @include media('>=1700px') {
        min-height: 580px;
      }

      @include media('>=1900px') {
        min-height: 610px;
      }
    }
  }

  .holder {
    @include media('>=tablet') {
      @include transition(transform);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .info {
    @include media('>=tablet') {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      position: relative;
      z-index: 1;
    }
  }

  .left-col {
    position: relative;
    z-index: 1;

    @include media('>=tablet') {
      width: 50%;
    }

    @include media('>=1600px') {
      width: 60%;
    }
  }

  .right-col {
    position: relative;

    @include media('>=tablet') {
      width: 50%;
    }

    @include media('>=1600px') {
      width: 40%;
    }

    &:before {
      content: '';
      font-size: 0;
      line-height: 0;
      display: block;
      min-height: 440px;

      @include media('>=tablet') {
        min-height: 0;
      }
    }
  }

  .tab-content {
    &:before {
      content: '';
      font-size: 0;
      line-height: 0;
      display: none;
      min-height: 226px;

      @include media('>=tablet') {
        display: block;
      }
    }
  }

  .slide {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear all;
    transform: translateY(10%) translateX(0);

    @include media('>=tablet') {
      transform: translateY(0) translateX(-40%);
      top: 0;
      left: 0;
      right: 0;
    }

    @include media('>=desktop') {
      top: -28px;
    }

    @include media('>=1300px') {
      top: -38px;
    }

    @include media('>=1400px') {
      top: -55px;
    }

    @include media('>=1600px') {
      top: -115px;
    }

    @include media('>=1800px') {
      top: -140px;
    }

    @include media('>=1800px') {
      top: -163px;
    }

    &:before {
      content: '';
      position: absolute;
      left: -41%;
      right: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(123deg, #c53012 0%, #e34003 100%);
      transform: skewX(26deg);
      display: none;

      @include media('>=tablet') {
        bottom: 0;
        right: 15%;
        left: -25%;
        display: block;
      }

      @include media('>=1600px') {
        left: -45%;
      }
    }

    .content {
      background: linear-gradient(123deg, #c53012 0%, #e34003 100%);
      color: $white;
      padding: 82px 41px 32px 59px;
      line-height: 1.35;

      @include media ('>=tablet') {
        max-width: 170px;
        flex-basis: 170px;
        align-self: center;
        padding: 30px 20px;
        background: transparent;
        font-size: 14px;
      }

      @include media('>=900px') {
        max-width: 210px;
        flex-basis: 210px;
      }

      @include media('>=desktop') {
        max-width: 260px;
        flex-basis: 260px;
        padding: 35px 30px 10px 13px;
        font-size: 16px;
      }
    }

    p {
      margin: 0;
    }

    .img {
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      margin: 0;

      @include media('>=tablet') {
        flex: 1;
      }

      &:before {
        min-height: 315px;

        @include media('>=tablet') {
          min-height: 190px;
        }

        @include media('>=900px') {
          min-height: 210px;
        }

        @include media('>=desktop') {
          min-height: 240px;
        }

        @include media('>=1200px') {
          min-height: 260px;
        }

        @include media('>=1300px') {
          min-height: 280px;
        }

        @include media('>=1400px') {
          min-height: 300px;
        }

        @include media('>=1600px') {
          min-height: 400px;
        }

        @include media('>=1800px') {
          min-height: 450px;
        }

        @include media('>=1800px') {
          min-height: 480px;
        }
      }
    }
  }

  &.in-viewport {
    .holder {
      @include media('>=tablet') {
        transform: translateX(20%);
        transition: transform 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
        transition-duration: 1.5s;
      }

      &.active {
        @include media('>=tablet') {
          transform: translateX(0);
        } 
      }
    }
  }
}

.exterior-info-block .slide.active {
  transform: translateY(-16.5%) translateX(0);
  opacity: 1;
  visibility: visible;

  @include media('>=tablet') {
    transform: translateY(0) translateX(0);
  }
}
