// -----------------------------------------------------------------------------
// This file contains chapter styles.
// -----------------------------------------------------------------------------

.chapter {
  position: relative;
}

.chapter-2 {
  height: 100vh;
  background-color: lawngreen;
}
