.hero {
  min-height: 700px;
  height: 100%;
  // background: $black url('../assets/images/common/futurism.jpg') no-repeat center center;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  @include breakpoint(mob-lg) {
    top: $masthead-height-mob;
  }
}
