.hero {
  min-height: 700px;
  height: 100%;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  flex-direction: column;

  h1 {
    font-size: 100vh;
    color: palegreen;
  }
  h2 {
    font-size: 90vh;
    color: paleturquoise;
  }
  h3 {
    font-size: 75vh;
    color: orangered;
  }
  h4 {
    font-size: 70vh;
    color: greenyellow;
  }
}
