.hero {
  min-height: 700px;
  height: 100%;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  flex-direction: column;

  h1 {
    font-size: 100vh;
    color: palegreen;
  }
}
