.hero {
  min-height: 700px;
  height: 100%;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  flex-direction: column;
  background-color: plum;
  h1 {
    font-size: 15vh;
    color: blue;
    height: 100vh;
    @include centreContent;
  }
}
