.integration-message {
  text-align: center;

  @include media('screen', '>=tablet') {
    margin-bottom: 30px;
  }

  @include media('screen', '>=laptop') {
    margin-bottom: 47px;
  }

  .integration-logo {
    display: inline-block;
    vertical-align: top;
    max-width: 120px;

    @include media('>=tablet') {
      max-width: 189px;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    img {
      @include transition(transform);

      transform: scale(1);
      height: auto;
    }
  }

  a {
    text-decoration: none;
  }

  .integration-text {
    letter-spacing: 2px;
    margin: 0 0 6px;
    color: inherit;
    display: block;
    color: $black;
    font: 600 9px/1 $font-family-sans-serif-secondary;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    @include media('screen', '>=laptop') {
      margin-bottom: 11px;
    }
  }
}
