// -----------------------------------------------------------------------------
// This file contains all mixins and utility styles.
// -----------------------------------------------------------------------------

.w-100vw {
  width: 100vw;
}

.w-100 {
  width: 100%;
}

.text-white {
  color: $white;
}

.text-left {
  text-align: left;
}

.pb-0 {
  padding-bottom: 0;
}

@mixin centreContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-abs {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.anchor {
  top: -$masthead-height-desktop;
  height: 0;
  display: block;
  position: relative;
  visibility: hidden;
}

@mixin letter-spacing($spacing) {
  letter-spacing: ($spacing / 1000) * 1em;
  // letter-spacing: calc($spacing / 1000) * 1em;
}
