// -----------------------------------------------------------------------------
// This file contains all unique styles for home page only
// -----------------------------------------------------------------------------

.hide-on-mobile {
  @include media('<tablet') {
    display: none !important;
  }
}

.hide-on-desktop {
  @include media('>=tablet') {
    display: none !important;
  }
}

.resize-active * {
  transition: none !important;
}
