.exterior-info-block {
  position: relative;
  overflow: hidden;
  margin: 0 0 34px;

  @include media('>=tablet') {
    padding: 93px 0;
  }

  @include media('>=1200px') {
    padding: 93px 0 0;
    margin: 0 0 22px;
  }

  .title-holder {
    padding: 0 10px;
    text-align: center;

    @include media('>=tablet') {
      padding: 0 10px 26px;
    }

    h2 {
      margin: 0 0 13px;

      @include media('>=tablet') {
        margin: 0 0 19px;
      }
    }

    br {
      @include media('>=tablet') {
        display: none;
      }
    }
  }

  .heading {
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 6px;

    @include media('>=tablet') {
      margin: 0 0 22px;
    }
  }

  .img {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: -11px -36px 0 -11px;

    @include media('>=tablet') {
      background-size: cover;
      margin: 0 -30px 0 10px;
    }

    @include media('>=desktop') {
      margin: 0 -50px 0 -10px;
    }

    @include media('>=1600px') {
      margin: 0 -80px 0 -30px;
    }

    @include media('>=1900px') {
      margin: -14px -85px 0 -30px;
    }

    @include media('>=2000px') {
      background-size: contain;
    }

    &:before {
      content: '';
      font-size: 0;
      line-height: 0;
      display: block;
      min-height: 250px;

      @include media('>=tablet') {
        min-height: 210px;
      }

      @include media('>=900px') {
        min-height: 240px;
      }

      @include media('>=desktop') {
        min-height: 270px;
      }

      @include media('>=1100px') {
        min-height: 300px;
      }

      @include media('>=1200px') {
        min-height: 330px;
      }

      @include media('>=1400px') {
        min-height: 380px;
      }

      @include media('>=1600px') {
        min-height: 480px;
      }

      @include media('>=1700px') {
        min-height: 580px;
      }

      @include media('>=1900px') {
        min-height: 610px;
      }
    }
  }

  .holder {
    @include media('>=tablet') {
      @include transition(transform);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .info {
    @include media('>=tablet') {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      position: relative;
      z-index: 1;
    }
  }

  .left-col {
    position: relative;
    z-index: 1;

    @include media('>=tablet') {
      width: 50%;
    }

    @include media('>=1600px') {
      width: 60%;
    }
  }

  .right-col {
    position: relative;

    @include media('>=tablet') {
      width: 50%;
    }

    @include media('>=1600px') {
      width: 40%;
    }

    &:before {
      content: '';
      font-size: 0;
      line-height: 0;
      display: block;
      min-height: 440px;

      @include media('>=tablet') {
        min-height: 0;
      }
    }
  }

  .tab-content {
    &:before {
      content: '';
      font-size: 0;
      line-height: 0;
      display: none;
      min-height: 226px;

      @include media('>=tablet') {
        display: block;
      }
    }
  }

  .slide {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear all;
    transform: translateY(10%) translateX(0);

    @include media('>=tablet') {
      transform: translateY(0) translateX(-40%);
      top: 0;
      left: 0;
      right: 0;
    }

    @include media('>=desktop') {
      top: -28px;
    }

    @include media('>=1300px') {
      top: -38px;
    }

    @include media('>=1400px') {
      top: -55px;
    }

    @include media('>=1600px') {
      top: -115px;
    }

    @include media('>=1800px') {
      top: -140px;
    }

    @include media('>=1800px') {
      top: -163px;
    }

    &:before {
      content: '';
      position: absolute;
      left: -41%;
      right: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(123deg, #c53012 0%, #e34003 100%);
      transform: skewX(26deg);
      display: none;

      @include media('>=tablet') {
        bottom: 0;
        right: 15%;
        left: -25%;
        display: block;
      }

      @include media('>=1600px') {
        left: -45%;
      }
    }

    .content {
      background: linear-gradient(123deg, #c53012 0%, #e34003 100%);
      color: $white;
      padding: 82px 41px 32px 59px;
      line-height: 1.35;

      @include media ('>=tablet') {
        max-width: 170px;
        flex-basis: 170px;
        align-self: center;
        padding: 30px 20px;
        background: transparent;
        font-size: 14px;
      }

      @include media('>=900px') {
        max-width: 210px;
        flex-basis: 210px;
      }

      @include media('>=desktop') {
        max-width: 260px;
        flex-basis: 260px;
        padding: 35px 30px 10px 13px;
        font-size: 16px;
      }
    }

    p {
      margin: 0;
    }

    .img {
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      margin: 0;

      @include media('>=tablet') {
        flex: 1;
      }

      &:before {
        min-height: 315px;

        @include media('>=tablet') {
          min-height: 190px;
        }

        @include media('>=900px') {
          min-height: 210px;
        }

        @include media('>=desktop') {
          min-height: 240px;
        }

        @include media('>=1200px') {
          min-height: 260px;
        }

        @include media('>=1300px') {
          min-height: 280px;
        }

        @include media('>=1400px') {
          min-height: 300px;
        }

        @include media('>=1600px') {
          min-height: 400px;
        }

        @include media('>=1800px') {
          min-height: 450px;
        }

        @include media('>=1800px') {
          min-height: 480px;
        }
      }
    }
  }

  &.in-viewport {
    .holder {
      @include media('>=tablet') {
        transform: translateX(20%);
        transition: transform 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
        transition-duration: 1.5s;
      }

      &.active {
        @include media('>=tablet') {
          transform: translateX(0);
        } 
      }
    }
  }
}

.exterior-info-block .slide.active {
  transform: translateY(-16.5%) translateX(0);
  opacity: 1;
  visibility: visible;

  @include media('>=tablet') {
    transform: translateY(0) translateX(0);
  }
}

.info-section {
  padding: 20px 0 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @include media('<tablet') {
    background-image: none !important;
  }

  @include media('>=tablet') {
    display: flex;
    color: $white;
    text-align: center;
    padding: 60px 0;
  }

  @include media('>=desktop') {
    padding: 80px 0;
  }

  @include media('>=1400px') {
    padding: 100px 0;
  }

  @include media('>=1600px') {
    padding: 116px 0;
  }

  &:after {
    content: '';
    font-size: 0;
    line-height: 0;
    display: none;

    @include media('>=tablet') {
      display: block;
      min-height: 440px;
    }  

    @include media('>=desktop') {
      min-height: 500px;
    }

    @include media('>=1200px') {
      min-height: 560px;
    }

    @include media('>=1400px') {
      min-height: 604px;
    }

    @include media('>=1600px') {
      min-height: 648px;
    }
  }

  .content {
    padding: 35px 21px 0;

    @include media('>=tablet') {
      position: relative;
      max-width: 600px;
      margin: 0 auto;
      align-self: flex-start;
      z-index: 1;
      padding: 20px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(53, 125, 168, 0.55);
      background-blend-mode: darken;
      filter: blur(50px);
      display: none;

      @include media('>=tablet') {
        display: block;
      }
    }

    p {
      position: relative;
      z-index: 1;
    }
  }

  .img {
    img {
      width: 100%;
    }
  }
}

.interior-info-block {
  position: relative;
  overflow: hidden;
  margin: 0 0 33px;

  @include media('>=tablet') {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 53px;
  }

  .img {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &:before {
      content: '';
      font-size: 0;
      line-height: 0;
      display: block;
      min-height: 250px;

      @include media('>=tablet') {
        min-height: 400px;   
      }

      @include media('>=desktop') {
        min-height: 450px;   
      }

      @include media('>=1400px') {
        min-height: 550px;   
      }

      @include media('>=1600px') {
        min-height: 630px;   
      }
    }
  }

  .left-col {
    position: relative;
    z-index: 1;

    @include media('>=tablet') {
      width: 50%;
      order: 2;
    }
  }

  .right-col {
    position: relative;

    @include media('>=tablet') {
      width: 50%;
      order: 1;
    }

    &:before {
      content: '';
      font-size: 0;
      line-height: 0;
      display: block;
      min-height: 245px;

      @include media('>=480px') {
        min-height: 300px;
      }

      @include media('>=tablet') {
        min-height: 400px;   
      }

      @include media('>=desktop') {
        min-height: 450px;   
      }

      @include media('>=1400px') {
        min-height: 550px;   
      }

      @include media('>=1600px') {
        min-height: 630px;   
      }
    }
  }

  .slide {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
    transition-duration: 1.5s;
    width: 100%;

    @include media('>=tablet') {
      transform: translateY(0) translateX(100%);
      height: auto !important;
    }


    .info {
      background-size: cover;
      background-position: 50% 100%;
      background-repeat: no-repeat;
      color: $white;
      display: flex;
      align-items: flex-end;
      font-size: 14px;
      line-height: 18px;

      &:after {
        content: '';
        font-size: 0;
        line-height: 0;
        display: block;
        min-height: 245px;

        @include media('>=480px') {
          min-height: 295px;
        }

        @include media('>=tablet') {
          min-height: 400px;   
        }

        @include media('>=desktop') {
          min-height: 450px;   
        }

        @include media('>=1400px') {
          min-height: 550px;   
        }

        @include media('>=1600px') {
          min-height: 630px;   
        }
      }
    }

    p {
      margin: 0;
    }

    .title {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 0 9px;
    }

    .content {
      padding: 10px 20px;
      background: rgba(#000, 0.5);
      background-blend-mode: multiply;

      @include media('>=480px') {
        padding: 25px;
      }

      @include media('>=desktop') {
        max-width: 320px;
        margin-left: auto;
      }

      @include media('>=1200px') {
        max-width: 428px;
      }
    }
  }
}

.interior-info-block .slide.active {
  transform: translateY(0) translateX(0);
  transition: transform 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
  transition-duration: 1.5s;
}

.interior-slide-tab {
  @extend %listreset;

  a {
    @include size(30px);
    position: absolute;
    z-index: 2;
    color: $white;
    border-radius: 50%;
    border: 2px solid $white;

    @include media('>=desktop') {
      @include size(40px);
      border: 3px solid $white;
    }

    &:before,
    &:after {
      content: '';
      width: 2px;
      height: 10px;
      background: $white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @include media('>=desktop') {
        width: 3px;
        height: 16px;
      }
    }

    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &.active {
      background: #c53012;

      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  li {
    &:nth-child(1) {
      a {
        top: -177px;
        left: 13%;

        @include media('>=tablet') {
          // top: 40px;
          top: 70px;
          right: -20%;
          left: auto;
        }
      }
    }

    &:nth-child(2) {
      a {
        top: -207px;
        right: 26%;

        @include media('>=tablet') {
          // top: 85px;
          top: 125px;
          right: -58%;
        }
      }
    }

    &:nth-child(3) {
      a {
        top: -158px;
        right: calc(50% - 29px);

        @include media('>=tablet') {
          // top: 40px;
          top: 70px;
          right: -75%;;
        }
      }
    }

    &:nth-child(4) {
      a {
        top: -43px;
        right: calc(50% - 45px);

        @include media('>=tablet') {
          // top: 200px;
          top: 330px;
          right: -60%;  
        }
      }
    }
  }
}

.exterior-slide-tab {
  @extend %listreset;

  a {
    @include size(31px);
    position: absolute;
    z-index: 2;
    color: $white;
    border-radius: 50%;
    border: 2px solid #c53012;

    @include media('>=tablet') {
      width: 20px;
      height: 20px;   
    }

    @include media('>=desktop') {
      width: 40px;
      height: 40px;
      border: 3px solid #c53012;
    }

    &:before,
    &:after {
      content: '';
      width: 2px;
      height: 10px;
      background-color: #c53012;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @include media('>=desktop') {
        width: 3px;
        height: 16px;
      }
    }

    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &.active {
      background: #c53012;

      &:before {
        background: $white;
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:after {
        background: $white;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  li {
    &:nth-child(1) {
      a {
        top: -192px;
        right: 12%;
        left: auto;

        @include media('>=480px') {
          right: calc(50% - 160px);
        }

        @include media('>=tablet') {
          top: 61px;
          right: auto;
          left: -24%;
        }

        @include media('>=900px') {
          top: 52px;
          left: -23%;
        }

        @include media('>=desktop') {
          top: 38px;
          left: -25%;
        }

        @include media('>=1200px') {
          top: 27px;
          left: -23%;
        }

        @include media('>=1400px') {
          top: 15px;
        }

        @include media('>=1600px') {
          top: -15px;
          left: -32%;
        }

        @include media('>=1800px') {
          top: -47px;
          left: -38%;
        }

        @include media('>=2000px') {
          left: -45%;
        }
      }
    }

    &:nth-child(2) {
      a {
        top: -160px;
        right: 31%px;

        @include media('>=480px') {
          right: calc(50% - 90px);
        }

        @include media('>=tablet') {
          top: 85px;
          right: auto;
          left: -36.5%;
        }

        @include media('>=900px') {
          top: 79px;
          left: -35.5%;
        }

        @include media('>=desktop') {
          top: 75px;
          left: -37.5%;
        }

        @include media('>=1200px') {
          top: 66px;
          left: -36.5%;
        }

        @include media('>=1400px') {
          top: 60px;
        }

        @include media('>=1600px') {
          top: 51px;
          left: -55.5%;
        }

        @include media('>=1800px') {
          top: 23px;
          left: -54.5%;
        }

        @include media('>=2000px') {
          top: 23px;
          left: -62%;
        }
      }
    }

    &:nth-child(3) {
      a {
        top: -93px;
        right: 40%px;

        @include media('>=480px') {
          right: calc(50% - 42px);
          top: -75px;
        }

        @include media('>=tablet') {
          top: auto;
          right: auto;
          left: -45.5%;
          bottom: 48px;
        }

        @include media('>=900px') {
          left: -45%;
          bottom: 39px;
        }

        @include media('>=desktop') {
          left: -46%;
          bottom: 22px;
        }

        @include media('>=1200px') {
          bottom: 11px;
        }

        @include media('>=1400px') {
          bottom: -7px;
          left: -45.5%;
        } 

        @include media('>=1600px') {
          left: -69%;
          bottom: -47px;
        }

        @include media('>=1800px') {
          left: -69.5%;
          bottom: -64px;
        }

        @include media('>=2000px') {
          left: -71%;
        }
      }
    }

    &:nth-child(4) {
      a {
        top: -149px;
        left: 19.5%;
        right: auto;

        @include media('>=480px') {
          left: calc(50% - 142px);
          top: -160px;
        }

        @include media('>=tablet') {
          top: 91px;
          left: -74%;
        }

        @include media('>=desktop') {
          top: 91px;
          left: -80%;
        }

        @include media('>=1200px') {
          top: 68px;
        }

        @include media('>=1400px') {
          top: 62px;
        }

        @include media('>=1600px') {
          top: 51px;
          left: -120%;
        }

        @include media('>=1800px') {
          top: 43px;
          left: -119%;
          right: auto;
        }

        @include media('>=2000px') {
          left: -107%;
        }
      }
    }

    &:nth-child(5) {
      a {
        top: -186px;
        left: 6%;
        right: auto;

        @include media('>=480px') {
          left: calc(50% - 207px);
          top: -200px;
        }

        @include media('>=tablet') {
          top: 61px;
          left: -89.7%;
          right: auto;
        }

        @include media('>=900px') {
          top: 47px;
          left: -90.7%;
        }

        @include media('>=desktop') {
          top: 38px;
          left: -93.7%;
        }

        @include media('>=1200px') {
          top: 20px;
        }

        @include media('>=1400px') {
          top: 10px;
        }

        @include media('>=1600px') {
          top: -28px;
          left: -139.7%;
        }

        @include media('>=1800px') {
          top: -58px;
          left: -139.7%;
        }

        @include media('>=1800px') {
          left: -114%;
        }
      }
    }
  }
}
