// -----------------------------------------------------------------------------
// This file contains animation styles.
// -----------------------------------------------------------------------------

.element-fade {
  opacity: 0;
  &.in-view {
    opacity: 1;
  }
  transition: opacity 0.5s ease-in 0.25s;
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

// animation: bounce 3s infinite;
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% { 
    transform: translateY(-15px);
  }
}