// -----------------------------------------------------------------------------
// This file contains animation styles.
// -----------------------------------------------------------------------------

.element-fade {
  opacity: 0;
  &.in-view {
    opacity: 1;
  }
  transition: opacity 0.5s ease-in 0.25s;
}
